{% extends 'base.html' %}
{% load static %}

{% block title %}Service{% endblock %}

{% block content %}


  <!-- ***** Services Area Start ***** -->
  <section class="vet-area section-padding-50-0">
   <center><h3 class="lead">Veterinarian Expertise</h3></center>

      </br>
    <div class="container">

      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/special1.jpg' %}" alt="">
            </div>
            <h5>Fitness Care Specialist</h5>
            <p> Vet can help manage physicall fit and strength by giving us a dog a treatment  a companionship.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/special2.jpg' %}" alt="">
            </div>
            <h5>Hygiene Care Specialist</h5>
            <p>Like humans, pets can experience skin conditions that may cause redness, itchiness, odor, and even wounds. Fortunately, many skin conditions can be prevented with proper care and maintenance.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/special3.jpg' %}" alt="">
            </div>
            <h5>Pychiatric  Animal Specialist</h5>
            <p>You may have a strong idea of the pet you want – perhaps because you grew up with that animal – or you might not be so sure. When you’re deciding, consider:.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/special4.jpg' %}" alt="">
            </div>
            <h5>Mobility Specialist</h5>
            <p>Help with specific conditions. For example, people with ADHD may benefit from the structure and routine that a pet needs. Managing their pet’s responsibilities and keeping track of time – to feed or walk them on time</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/special5.jpg' %}" alt="">
            </div>
            <h5>Surgery Specialist</h5>
            <p>As we vets with any surgery there are both risks and benefits to having weight loss surgery. Obesity is a chronic health problem that can lead to other major health issues including cardiovascular disease and cancer. Often, the benefits outweigh the risks.</p>
          </div>
        </div>

      </div>
    </div>


     <section class="vet-area section-padding-50-0">
   <center><h3 class="lead">Vet Clinic Partnership</h3></center>
   <br>

   <div class="container">

      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/logo1.jpg' %}" alt="">
            </div>
            <h5>PawsPaws Clinic</h5>
            <p>Good health is not something we can buy. ...
There's nothing more important than our good health - that's our principal capital asse</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/logo3.jpg' %}" alt="">
            </div>
            <h5>Animpals Clinic</h5>
            <p>In the midst of these hard times it is our good health and good sleep that are enjoyable.</p>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/logo2.jpg' %}" alt="">
            </div>
            <h5>Animalia Clinic</h5>
            <p>I wish all happiness, good health and togetherness to those close to  our doors.</p>
          </div>
        </div>

      </div>
    </div>

    </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->

{% endblock %}